
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
:root{ /*--variable colors declaration----*/
    --background:#191970;
    --border-color:#ff8c00;
    --text-color:#000;
    --link-color:#fff;
    --hover-color:#ff8c00;
    --section-background:#1d3044;
    --footer-background:#000;
    --hr-color:cornsilk;
}
p{
    color: var(--text-color);
}

@media screen and (max-width:1440px){
    .section__1{
        background-image: url("../images/svgexport-1.svg");
        height: 100vh;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 1rem;
    }
    .title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 3.2rem;
    }
    
    .section__1 article #article__heading{
        margin-bottom: 2rem;
        text-align: center;
        font-weight: 700;
    }
    article{
        text-align: center;
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .section__1 article p{
        margin:auto;
        width: 52%;
        font-size: 1rem;
        text-align: center;
        line-height: 1.7rem;
        opacity: 0.6;
        font-weight: 400;
        padding: 0rem 1rem 4rem 1rem;
    }
    .section__1 article a{
        text-decoration: none;
        color: #de2129;
    }
    a{
        text-decoration: none;
        color: #de2129;
    }
    a:hover{
        text-decoration: none;
        color: #de2129;
    }
    .section__1 .button{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .button a{
        width: 220px;
        height: 50px;
        padding: 0.7rem 0.5rem;
        margin: 1rem;
        text-decoration: none;
    }
    .button #first__link{
        background: #de2129;
        color: #fff;
    }
    .button #first__link:hover{
        background: #fff;
        color: #de2129;
        border: 1px solid #de2129;
    }
    .button #second__link{
        background: #fff;
        color: #de2129;
        border: 1px solid #de2129;
    }
    .button #second__link:hover{
        background: #de2129;
        color: #fff;
        
    }

    #section__2{
        width: 100%;
        height: 100%;
        padding-top: 9rem;
    }
    #section__2 .container__2 article{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0.7rem;
    }
    #section__2 .container__2 article small{
        color: #de2129;
        margin: 1rem;
    }
    #section__2 .container__2 article p{
        font-size: 1.3rem;
        line-height: 1.7;
        margin-bottom: -0.6rem;
    }
    
    .content{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 10rem;
    }
    #article1{
        background-image: url('../images/left_bvm.png');
        background-size: 70% 70%;
        background-repeat: no-repeat;
        background-position: left top;
        padding-top: rem;
    }
    #article1 p{
        background: rgb(255,250,250);
        width: 86%;
        position: relative;
        top: 20px;
        text-align: justify;
        padding: 3rem;
        height: 40rem;
    }
    #article2 p{
        background: rgb(255,250,250);
        text-align: justify;
        padding: 3rem;
        height: 40rem;
        margin-top: 2.1rem;
    }
    #article3{
        background-image: url('../images/dots.png');
        background-size: 70% 300px;
        background-repeat: no-repeat;
        background-position: right top;
        
    }
    #article3 p{
        background: rgb(255,250,250);
        width: 86%;
        position: relative;
        top: 16px;
        text-align: justify;
        padding: 3rem;
        height: 40rem;
        z-index: 500px;
    }
    .content article a{
        text-decoration: none;
        color: #e7332b;
    }

/*============================*/
    
    #container #row_2 .card{
        border-width: 0rem;
        margin-top: 0.5rem;
    }
    
    #container #row_2{
       padding-bottom: 5rem;
    }
    #container .card #body_2 a, #body_3 a{
        text-decoration: none;
        color: #de2129;
    }
    #container .card h5{
        font-size: 1.2rem;
        font-weight: 700;
    }
    #container .card a, .card p{
        font-size: 1rem;

    }
    #container .card #body_4 {
        display: flex;
        flex-direction: column;
        justify-content: right;
        text-align: right;
        align-items: right;
        

    }
    #container .card #body_4 ul li {
        display: inline;
        list-style-type: none;
        text-align: right;

    }
    #container .card ul li a img{
        display: inline;
        list-style-type: none;
        width: 20px;
        height: 20px;
        padding: 0.5;
        text-align: cente;
    }
    #footer_head{
        height: 10rem;
    }
    #footer_head #hr2{
        margin: 0rem 2rem;
        font-weight: 700;
        font-size: 5rem;
    }
    #footer_bottom_col{
        margin-top: 2rem;
        text-align: center;
    }

    
}

@media screen and (max-width:768px){
    .section__1{
        height: 70vh;
    }
    .section__1 article p{
        margin:auto;
        width: 100%;
        font-size: 1rem;
        text-align: center;
        line-height: 1.7rem;
        opacity: 0.6;
        font-weight: 400;
        padding: 0rem 1rem 4rem 1rem;;
    }
    .section__1 .button{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #section__2{
        
        padding: 3rem;
    }
    #container #row_2{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;

    }

    #section__4 .card{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 10rem;
    }
    #article1{
        background-image: url('');
        background-size: 70% 70%;
        background-repeat: no-repeat;
        background-position: left top
    }
    #article3{
        background-image: url('');
        background-size: 70% 300px;
        background-repeat: no-repeat;
        background-position: right top;
        
    }
    #article1 p, #article2 p, #article3 p{
        height: 32rem;
    }
}

