
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
:root{ /*--variable colors declaration----*/
    --background:#191970;
    --border-color:#ff8c00;
    --text-color:#000;
    --link-color:#fff;
    --hover-color:#ff8c00;
    --section-background:#1d3044;
    --footer-background:#000;
    --hr-color:cornsilk;
}
p{
    color: var(--text-color);
}

@media screen and (max-width:1440px){
    .section__1{
        background-image: url("../images/svgexport-1.svg");
        height: 100vh;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 1rem;
    }
    .title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 3.2rem;
    }
    
    .section__1 article #article__heading{
        margin-bottom: 2rem;
        text-align: center;
        font-weight: 700;
    }
    article{
        text-align: center;
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .section__1 article p{
        margin:auto;
        width: 52%;
        font-size: 1rem;
        text-align: center;
        line-height: 1.7rem;
        opacity: 0.6;
        font-weight: 400;
        padding: 0rem 1rem 4rem 1rem;
    }
    .section__1 article a{
        text-decoration: none;
        color: #de2129;
    }
    a{
        text-decoration: none;
        color: #de2129;
    }
    a:hover{
        text-decoration: none;
        color: #de2129;
    }
    .section__1 .button{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .button a{
        width: 220px;
        height: 50px;
        padding: 0.7rem 0.5rem;
        margin: 1rem;
        text-decoration: none;
    }
    .button #first__link{
        background: #de2129;
        color: #fff;
    }
    .button #first__link:hover{
        background: #fff;
        color: #de2129;
        border: 1px solid #de2129;
    }
    .button #second__link{
        background: #fff;
        color: #de2129;
        border: 1px solid #de2129;
    }
    .button #second__link:hover{
        background: #de2129;
        color: #fff;
        
    }

    #section__2{
        width: 100%;
        height: 100%;
        padding-top: 9rem;
    }
    #section__2 .container__2 article{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0.7rem;
    }
    #section__2 .container__2 article small{
        color: #de2129;
        margin: 1.5rem;
    }
    #section__2 .container__2 article p{
        font-size: 1.3rem;
        line-height: 1.7;
        margin-bottom: -0.6rem;
    }

    #section__3{
        height: 100%;
        margin-bottom: 10rem;
        border: 1px solid pink;
    }
    .section__3 #container #row_1 #col_1{
        background-image: url("../images/left_bvm.png");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        
    }
    .section__3 #container #row_1 #col_3{
        background-image: url("../images/dots.png");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
    
    }
    .section__3 #container .card{
       background-color: rgb(212, 180, 186);
    }
    .section__3 .card-body a{
        color: #de2129;
        text-decoration: none;
        cursor: pointer;
    }
    #container #row_2 .card{
        border-width: 0rem;
        margin-top: 0.5rem;
    }
    
    #container #row_2{
       padding-bottom: 5rem;
    }
    #container .card #body_2 a, #body_3 a{
        text-decoration: none;
        color: #de2129;
    }
    #container .card h5{
        font-size: 1.2rem;
        font-weight: 700;
    }
    #container .card a, .card p{
        font-size: 1rem;

    }
    #container .card #body_4 {
        display: flex;
        flex-direction: column;
        justify-content: right;
        text-align: right;
        align-items: right;
        

    }
    #container .card #body_4 ul li {
        display: inline;
        list-style-type: none;
        text-align: right;

    }
    #container .card ul li a img{
        display: inline;
        list-style-type: none;
        width: 20px;
        height: 20px;
        padding: 0.5;
        text-align: cente;
    }
    #footer_head{
        height: 10rem;
    }
    #footer_head #hr2{
        margin: 0rem 2rem;
        font-weight: 700;
        font-size: 5rem;
    }
    #footer_bottom_col{
        margin-top: 2rem;
        text-align: center;
    }

    
}

@media screen and (max-width:768px){
    .section__1{
        height: 90vh;
    }
    .section__1 article p{
        margin:auto;
        width: 100%;
        font-size: 1rem;
        text-align: center;
        border: 1px solid red;
        line-height: 1.7rem;
        opacity: 0.6;
        font-weight: 400;
        padding: 0rem 1rem 4rem 1rem;;
    }
    .section__1 .button{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #section__2{
        
        padding: 3rem;
    }
    #container #row_2{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        

    }

    #section__4 .card{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}
:root{ /*--variable colors declaration--
    --background:#191970;
    --border-color:#ff8c00;
    --text-color:#000;
    --link-color:#fff;
    --hover-color:#ff8c00;
    --section-background:#1d3044;
    --footer-background:#000;
    --hr-color:cornsilk;
}

.navbar-dark{
    background-color: var(--background);
    border-bottom: 3px solid var(--border-color);
    color: var(--text-color);
}

.navbar-toggler{
    color: var(--link-color);
}

.navbar-toggler-icon{
    color: var(--link-color);
}
.navbar-nav li a{
    color: var(--link-color);
    font-size: 1.2rem;
}

.nav-link:hover{
    color: var(--hover-color);
    
}

#page_logo{
    width:50px;
    height:50px;
    border-radius:100%;
}

.fixed_carousel{
    height: 730px;
    width: 100%;
    max-width: 1690px;
    background-image: url('/images/constr1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#fixed_carousel_p{
    color: #ff8177;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(to top, midnightblue 40%, #000 100%);
    position: relative;
    background-color: var(--text-color);
    top: 10rem;
}


#section_2, #section_3{
    background:var(--section-background);
    opacity: 0.99;
    width: 100%;
}
#container{
    text-align: center;
    align-items: center;
    width: 100%;

}
p{
    font-size: 1.1rem;
}
#hr1,#hr2{
    background: var(--hr-color);
    color: var(--hr-color);
}

#section_2, #section_3{
    padding: 2rem 1.5rem;
}

.col-sm{
    margin-bottom: 1rem;
}

.card-body{
    overflow: hidden;
    text-align: center;
}

#img_1, #img_2, #img_3, #img_4{
    width: 500px;
    height: 366px;
    transition: all 1.5s ease;
    transform: translateY();
}

#img_1:hover, #img_2:hover, #img_3:hover, #img_4:hover{
    transform: scale(1.3);
}

/*------------------core value section imgaes--------------
#row_2 img{
    width: 200px;
    height: 180px;
    transition: all 1.5s ease;
}

#row_2 img:hover{/*core value section imgaes
    width: 200px;
    height: 180px;
    transform: scale(1.3);
}

.card-footer{
    align-items: center;
    text-align: justify;
}

#card_footer_1, #card_footer_2, #card_footer_3{
    background: var(--section-background);
    color: var(--link-color);
}

/*-----------------page footer styling---------------
#footer_headers{
    align-items: center;
    text-align: center;
}

.footer_head{
    background: var(--footer-background);
    padding: 2rem 0;
}

#footer_row{
    flex: content;
    text-align: center;
    align-items: center;
    font-size: 1rem;
    color: var(--link-color);
    opacity: 0.5;
}

.social_media, .quick_link_menu{
    display: block;
}

.social_media li,.quick_link_menu li{
    display: block;
    list-style-type: none;
}

.social_media li a, .quick_link_menu li a{
    display: block;
    text-decoration: none;
    color: var(--link-color);
}

.social_media li a:hover, .quick_link_menu li a:hover, #footer_bottom_col a:hover{
    color: var(--hover-color)
}

#footer_bottom_col{
    display: inline-block;
    align-items: center;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
}

#footer_bottom_col a{
    text-decoration: none;
    color: #fff;
}

#footer_bottom_col span{
    color: var(--link-color);
    opacity: 0.5;
}/*-----------------page footer styling end---------------


/*------design and equipment section--------
#section_4{
    padding: 2rem 1.5rem;
}

#row_3 h1{
    padding-bottom: 1.5rem;
}

#row_3 img{
    width: 220px;
    height: 180px;
    opacity: 0.5;
}

#row_3 img:hover{
    opacity: 1;
    transform: scaleX(1.8);
    transition: all 1.5s ease;
    cursor:pointer;
}

#row_3 p{
    text-align: center;
}

/*-----------------------ABOUT SECTION---------------

#about_main{
    padding: 6rem 3rem 2rem 3rem;
    background:#191970
}

#about_section{
    align-items: center;
    text-align: justify;
    color:gray;
}
#h2{
    text-align: center;
    padding-bottom: 1rem;
    color: gray;
}

#about_col img{
    width: 150px;
    height: 150px;
}

#about_col p{
    height: 46px;
    padding-bottom: 2rem;
}

/*----------------------Services section---------------------------

#services__main{
    padding: 6rem 3rem;
    text-align: justify;
}

#services__section{
    text-align: justify;
    display: flex;
    flex-direction: column;
}


/*----------------------Contact section---------------------------
#contact__row{
    align-items: center;
    text-align: center;
}
#contact__id__1,#contact__id__2,#contact__id__3{
    padding-left: 2rem;
}

#contact__id__1{
    margin-top: -3rem;
    text-align: center;
    
}

#contact__id__2{
    padding-top: 4.4rem;
    text-align: center;
}
input,#submit{
    width: 270px;
    height: 40px;
    padding: 0.5rem;
    border-radius: 0.4rem;
}
#submit:hover{
    background: #1d3044;
    cursor: pointer;
    color: #ff8c00;
}
textarea{
    width: 270px;
    border-radius: 0.4rem;
    padding: 0.5rem;
}
/*-----------------------MEDIA QUERY------------------------
@media screen and (max-width: 605px) and (min-width:480px){
    #row_1 img{
        height: 250px;
        max-width: 400px;
        
        align-items: center;
    }

    #fixed_carousel_img{
        width: 100%;
    }

    #fixed_carousel_p{
        color: #ff8177;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bold;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        text-align: center;
        align-items: center;
        justify-content: space-around;
        background-image: linear-gradient(to top, midnightblue 40%, #000 100%);
        position: relative;
        background-color: var(--text-color);
        top: 10rem;
    }
}

@media screen and (max-width: 490px) and (min-width:320px){
    #row_1 img{
        
        height: 230px;
        max-width: 350px;
        width: 100%;
    }
}

@media screen and (max-width: 340px){
    #contact__id__2{
        padding-left: 1rem;
        text-align: center;
    }
}
