@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #fffdf5;
}

.navbar{
    color: #000;
    background: #fffdf5;
    height: 90px;
    width: 100%;
    padding: 3rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    z-index: 2000px;
}
.navbar .logo a img{
    position: absolute;
    top: 25px;
    background: #fffdf5;
    color: #fffdf5;
    width: 210px;
}
.navbar .navlinks ul{
    position: absolute;
    top: 10px;
    right: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 1rem 0.3rem;
    background: #fffdf5;
    z-index: 700px;
}
.navbar .navlinks ul li{
    list-style-type: none;
    margin: 0rem 1rem;
    background: #fffdf5;
}
.navbar .navlinks ul li a{
    list-style-type: none;
    text-decoration: none;
    color: #585757;
    background: #fffdf5;
    text-align: start;
    font-size: 1.2rem;
}
.navbar .enroll .btn-danger{
    border-radius: 2rem;
    height: 2.7rem;
    width: 180px;
    background-color: #e7332b;
    color: #fff;
}
.navbar .enroll .btn-danger a{
    text-decoration: none;
    font-size: 1.2rem;
    background-color: #e7332b;
    color: #fff;
}
.navbar .enroll #hand_img{
    border-radius: 50%;
    border: 0.6rem solid #e7332b;
    position: absolute;
    top: 10px;
    width: 72px;
    background-color: #e7332b;
    right: 11rem;
    z-index: 500px;
    isolation: isolate;
}

main{
    background: #fffdf5;
    padding-top: 10rem;
}
/*===================section 1==============*/
#section_1{
    margin-bottom: rem;
}
.wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    margin-bottom: 10rem;
    font-family: Poppins;
}
.wrapper .box #lady__img{
    width: 300px; 
}
.wrapper .box article #p1{
    color: #e7332b;
    margin-bottom: 0.1rem;
}
.wrapper .box article h1{
    font-weight: 700;
    font-size:3rem;
}
.wrapper .box #line__img{
    margin: 0.2rem 0rem;
    position: relative;
    left: 140px;
    width:10rem;
}
.wrapper .box #p2{
    margin: 2rem;
    text-align: center;
    padding: 0.4rem 3.3rem;
    font-size: 1.1rem;
}
.wrapper .box #maleface{
    width: 50px;
}
.wrapper .box button{
    border-radius: 2rem;
    height: 2.7rem;
    width: 180px;
    background-color: #e7332b;
    color: #fff;
    border-width: 0rem;
    margin-left: 5rem;
}
.wrapper .box button a{
    background-color: #e7332b;
    color: #fff;
    text-decoration: none;
    line-height: 1rem;
}
.wrapper .box #wire__img{
    position: relative;
    top: 5rem;
    right: 4rem;
    height: 110px;
}
.wrapper .box #male{
    width: 300px;
}
@media screen and (max-width:1199px) {
    .wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding: 0rem 3rem;
    }
    .wrapper .box #lady__img{
        flex-basis: 100%;
        -webkit-box-flex: 0;
        flex-grow: 0;
        max-width: 100%;
        width: 600px;
        
    }
    .wrapper .box article #p1{
    margin-top: 1rem;
    }
    .wrapper .box #male{
    display: none;
    }
    
    
}

@media screen and (max-width:768px) {
    .wrapper{
        margin-bottom: 8rem !important;
    }
    .wrapper .box #line__img{
        margin: 0.2rem 0rem;
        position: relative;
        left: 20px;
        width:7rem;
    }
    .wrapper .box article h1{
        font-weight: 600;
        font-size:2rem;
        text-align: center;
    }
    .wrapper .box #p2{
        margin: 0.2rem;
        text-align: center;
        padding: 1rem 0rem;
        font-size: 1.1rem;
    }
    .wrapper .box #wire__img{
        position: relative;
        top: 5rem;
        right: 4rem;
        height: 110px;
    }
     .wrapper .box button{
        margin: auto;
    }
    .wrapper .box #maleface{
    margin: 2rem;
    }
     
}
@media screen and (max-width:495px){
    .wrapper .box #wire__img{
        position: relative;
        top: 50px;
        right: 10%;
        height: 110px;
    }
    .wrapper .box #maleface{
        width: 50px;
        display: none;
    }
    .wrapper .box button{
        margin: auto;
    }
    .wrapper .box article h1{
        font-weight: 600;
        font-size: 1.5rem;
        text-align: center;
    }
}
/*=================section 2=====*/

#section_2{
    padding: 0.8rem 1.6rem;
}
#section_2 .col-lg-4{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
}

#section_2 #row_2 h1{
    text-align: left;
    font-size:1.3rem;
    font-weight: 700; 
}
#section_2 #row_2 p{
    text-align: right;
    font-size:1.2rem;
}
#section_2 .row .col-lg-4 img{
    width:200px;
    height:200px;
}   

/*============section 3============*/
#section_3{
    padding: 1.3rem 1.6rem;
}
#section_3 .row .col-lg-6 article{
    text-align: justify;
}
#section_3 .row .col-lg-6 article h5{
    color: #e7332b;
    font-weight: 100;
    font-size: 1.7rem;
}
#section_3 .row .col-lg-6 article p{
    font-weight: 600;
    font-family: Poppins;
    font-size: 1.6rem;
}
#section_3 .row #col__2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
}
#section_3 .row .col-lg-6 #star__img{
    width: 170px;
    height: 170px;
}
@media screen and (max-width:880px){
    #section_3 .row #col__2{
        display: none;
    }
}


/*====================section 4============*/
#section_4{
    padding: 1.3rem 1.6rem;
}
#section_4 .row #col_1,#col_2,#col_3,#col_4,#col_5{
    margin-bottom: 2rem;
}
#section_4 .card{
    border-radius: 25px !important;
    padding: 1.4rem;
    box-shadow: rgba(231, 51, 43, 0.1) 0px 11px 22px 0px;
}
#section_4 .row .col-md-6 .col-lg-4 .card:hover{
    transform: translateY(20px);
}
#section_4 .card .card-body h1{
    font-weight: 700;
    font-size: 4rem;
}
#section_4 .card .card-body h2{
    font-size: 2.5rem; 
}
#section_4 .card .card-body p{
    font-size: 1.1rem; 
    color: #1b1a20;
}
#section_4 .card .curve{
    width: 100px;
    top: -2px;
    right: -2px;
    position: absolute;
    height: 100px;
    margin-left: 12rem;
}
/*============section 5============*/
#section_5{
    background: #e7332b;
    color: #fff;
    padding: 1.3rem 1.6rem;
}    

#section_5 .row .col-xl-6 article h3{
    text-align: start;
    font-weight: 600;
    line-height: 52px;
    font-family: Poppins;
    letter-spacing: 0.3752px;
    font-size: 40px;
    padding: 0rem 1.5rem 1.5rem 0rem;
}

#section_5 .row .col-xl-6 #section5__image{
    width: 100%;
    height: auto;
    padding-right: 4rem;
}
#section_5 .row .col-xl-6 article h5{
    font-weight: 400;
    font-size: 1.3rem;
}
#section_5 .col-xl-6 #wire__image{
    width:70px;
    height:70px;
    margin-left:6rem;
}
#section_5 .col-xl-6 .article2 p{
    font-weight: 400;
    font-size: 1.4rem;
    padding: 1rem 4rem 1rem 0rem;
    text-align: start;
}
#section_5 .row #dot__img{
    width: 130px;
    height: 130px;
}
#section_5 .row .col-xl-6 #enroll{
    border-radius: 2rem;
    height: 2.7rem;
    width: 150px;
    color: #e7332b;
    background: #fff;
    border-width: 0rem;
}
#section_5 .row .col-xl-6 #enroll a{
    color: #e7332b;
    background: #fff;
    text-decoration: none;
    line-height: 1rem;
    font-size: 1.2rem;
}
#section_5 .linkbtn{
    margin: 2rem 0rem 0.5rem 0rem;
}
#section_5 .linkbtn span{
    display: flex;
    flex-direction: row;
    
}
#section_5 .linkbtn .me{
    margin: 1.2rem;
    width: 200px;
    background-color: #e7332b;
    color: #fff;
    padding: 0.5rem;
    border-radius: 4rem;
    border: 2px solid #fff;
}
#section_5 .linkbtn .me img{
    width: 40px;
    background-color: #e7332b;
    position: relative;
    left: -10px;
}

/*@media screen and (max-width:1199px) {
    #section_5 .row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        
    }
    .grid__button{
        margin: 1.7rem 0rem;
        display: flex;
        width:440px;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        text-align: center;
    }
    #section_5 #row_5 .col-sm #section5__image{
    width: 100%;
    height: 100%;
    }
    #section_5 #row_5 #dot__img{
        width: 170px;
        height:170px;
        position: relative;
        right: 490px;
    
    }
}*/

/*==============section 6===========*/
#section_6{
    margin: auto;
    padding: 1rem 1.6rem;
}
#section_6 .row .col-md-6 article h5{
    color: #e7332b;
    font-weight: 400;
    margin-bottom: -0.1rem;
    font-size: 1.5rem;
}
#section_6 .row .col-md-6 article p{
    font-weight: 700;
    font-family: Poppins;
    font-size: 2.1rem;
}
#section_6 #container6 #col_2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#section_6 #container6 #col_2 img{
    width: 150px;
    height: 150px;
    margin-top: -4rem;
}

/*===================section 7============*/
#section_7{
    margin: 1rem 1.6rem;
    font-family: sans-serif;
}
#section_7 #container7 .col-md-6 .col-lg-4 .card{
    border-radius: 22px;
    padding: 1.4rem;
    margin: 0.4rem;
    box-shadow: rgba(231, 51, 43, 0.1) 0px 11px 22px 0px;
}

#section_7 #container7 .card .card-body h2{
    font-size: 1.3rem; 
    font-weight: 700;
}
#section_7 .card .card-body article p{
    font-size: 1rem;
    line-height: 22.4px; 
    color: #1b1a20;
    font-family: Poppins;
    text-align: justify;
}
#section_7 .card .card-body section{
    padding: 0.7rem 0rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: start;
}
#section_7 .card .card-body section img{
    margin: 0.3rem;
}
#section_7 #container7 .row .btn-info-class{
    margin: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#section_7 #container7 .row .btn-info-class .btn-info{
    width: 170px;
    height: 50px;
    color: #fff;
    background: #e7332b;
    border-width: 0rem;
    border-radius: 10rem !important;
}
#section_7 #container7 .row .btn-info-class .btn-info a{
    font-size: 1.2rem;
    text-decoration: none;
    color: #fff;
    background: #e7332b;
}
/*====================section 8=============*/
#section_8{
    padding: 2rem;
}
#section_8 .container .col-sm{
    display: flex;
    justify-content: center;
    align-items: center;
}
#section_8 .container #col_1 img{
    text-align: center;
    width: 150px !important; 
    height: 150px;
}
#section_8 .container #col_2 h2{
    font-size: 40px;
    font-family: Poppins;
    margin-top: -3rem;
    font-weight: 700;
}
/*==============section 9============*/
#section_9 .container #col_9{
    width: 800px;
    margin: 1rem 0rem;
}
#section_9 .container .questions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    border: 2px solid #000;
    
    
    height: 80px;
    padding: 0rem 0.5rem;
    font-size: 1.3rem;
    font-weight: 700;
}
#section_9 .container .questions a{
    color: #000;
    text-decoration: none;
}

#section_9 .container #row_3 #col_2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5rem 0rem;
}
#section_9 .container #row_3 #col_2 .btn-info img{
    width: 20px;
    height: 20px;
    color: #fff;
    margin-right: 0.6rem;
}
#section_9 .container #row_3 #col_2 .btn-info{
    width: 220px;
    height: 45px;
    color: #fff;
    background: #e7332b;
    border-width: 0rem;
    border-radius: 10rem !important;
}
#section_9 .container #row_3 #col_2 .btn-info a{
    font-size: 1.2rem;
    text-decoration: none;
    color: #fff;
    background: #e7332b;
}
/*===============================section 10=======*/
#section__10 .container .row .col-sm img{
    margin: 10rem;
    width: 120px;
    
}
#section__10 .container .row #paragraph{
   margin-left: 2rem;
   text-align: center;
}

#section__10 .container .row #paragraph p{
    font-size: 1.7rem;
    color: #e7332b;
    margin-left: 2rem;
    margin-bottom: -0.3rem;
}
#section__10 .container .row #paragraph h2{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: -0.3rem;
}

/*=================section 11============*/
#section_11{
    margin: 5rem 0rem;
    background: #fffdf5;
}
#section_11 .col-sm{
    background: #fffdf5;
}
#section_11 #program{
    text-align: center;
}
#section_11 .container .col-sm .card{
    border-radius: 50px !important;
    padding: 1.3rem;
    margin: 1rem;
    height: 45rem;
    color: #fff;
    background: #000;
    box-shadow: #fffdf5;
}
#section_11 .container .col-sm .card .card-body{
    box-shadow: #fffdf5;
}
#section_11 .container .col-sm .card .card-body .links{
    list-style-type: none;
}
#section_11 .container .col-sm .card .card-body li a{
    color: #fff;
}
#section_11 .container .card img{
    width: 140px !important;
    height: 120px !important;
    color: #fff;
    position: absolute;
    right: 20px;
    top: 550px;
}
#section_11 .container .col-sm .circle__img{
    position: absolute;
    right: 30px;
    top: 7100px;
    width: 140px !important;
    height: 120px !important;
}
#section_11 .container .move__img{
    position: absolute;
    right: 71.5rem !important;
    top: 412rem;
}
/*======================section 12============*/
#section12{
    margin: 3rem 0rem;
}
#section12 .container .card{
    background: #e7332b;
    padding: 1rem;
    height:  30rem;
    display: flex;
    border-radius: 40px;
    justify-content: center;
    text-align: center;
}
#section12 .container .card article p{
    color: #fff;
    font-size: 1.3rem;
    margin-top: 3rem;
}
#section12 .container .card article h2{
    color: #fff;
    font-size: 3.5rem;
    font-weight: 700;
    font-family: Poppins;
}

#section12 .card .card-body article .button{
    border-radius: 2rem;
    height: 2.7rem;
    width: 150px;
    color: #e7332b;
    background: #fff;
    border-width: 0rem;
}
#section12 .card .card-body  article .button a{
    color: #e7332b;
    background: #fff;
    text-decoration: none;
    line-height: 1rem;
    font-size: 1.2rem;
}
#section12 .card img{
    width: 150px;
    height: 150px;
}
#section12 .card .img1{
    position: absolute;
    top: 100px;
    left: 90px;
}
#section12 .card .img2{
    position: absolute;
    top: 360px;
    right: 0px;
}
#section12 .card .img3{
    position: absolute;
    top: 340px;
    left: -40px;
}
#section12 .card .img4{
    position: absolute;
    top: -10px;
    right: 0px;
}
/*=========================footer===================*/
.footer__head{
    height: 15rem;
    background: #fffdf5;
    width: 100%;
}
.footer__head #footer__1 img{
    padding-top: 2.5rem;
    width: 230px;
}

#footer__4 ul li{
    display: inline-block;
    line-height: 2;
    padding: 0rem 0.5rem;
    text-align: justify;
}
#footer__4 ul li a{
    font-size: 2.5rem;
    color: #e7332b;
}
#footer_bottom_row .col-sm{
    margin: 1em 0rem;
    font-size: 1rem;
    font-weight: 400;
}

/*======================media query=====================*/
@media screen and (max-width:1199px){
    #section_1 .row{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    #section_1 .col-sm{
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width:968px){
    .navbar .navlinks ul{
        position: absolute;
        top: 10px;
        right: 300px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        padding: 1rem 0.3rem;
        background: #fffdf5;
        border: 1px solid red;
        z-index: 700px;
        display: none;
    }
    .navbar .navlinks ul li{
        list-style-type: none;
        margin: 0rem 1rem;
        background: #fffdf5;
        display: none;
}
.navbar .navlinks ul li a{
        ist-style-type: none;
        text-decoration: none;
        color: #585757;
        background: #fffdf5;
        text-align: start;
        font-size: 1.2rem;
        display: none;
    }
}