*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar-nav li a{
    color: #fff;
}

.navbar{
    background-color: midnightblue;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



tcc{
    font-size: 20px;
    color: red;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
:root{ /*--variable colors declaration--*/
    --background:#191970;
    --border-color:#ff8c00;
    --text-color:#000;
    --link-color:#fff;
}

.navbar{
    background-color: var(--background);
    border-bottom: 3px solid var(--border-color);
    color: var(--text-color);
}

.navbar-toggle-icon, .fa-bars{
    color: var(--navbar-color);
}

.navbar li a{
    color: var(--link-color);
}
#img{
    width: 20
}

.front_page{
    background: #141414;
    color: mintcream;
}

/*.front_page{
    height: 750px;
    width: 100%;
    max-width: 1300px;
    /*background-image: ur('/images/constr1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
/*.navbar{
    background: #131313;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    z-index: 999;
    position: sticky;
    top: 0;
    height: 100px;
    width: 100%;*
}
.navbar_container{
    display: flex;
    justify-content: space-around;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    border: 1px solid #e82129;
    padding: 0 auto;
    margin: 0 auto;
}
#navbar_logo{
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
   -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 2rem;
    float: left;
    margin-right: 6rem;
}
.fa_gem{
    margin-right: 0.5rem;
}
.navbar_menu{
    display: flex;
    align-items: center;list-style-type: none;
    text-align: center;
    border: 1px solid #e82129;
    float: right;
}
.navbar_items{
    height: 80px;
}
.navbar_links{
    color: aliceblue;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    text-decoration: none;
    height: 100%;
    text-transform: capitalize;
}

.navbar_links:hover{
    color: #ffb155;
    transition: all 0.3s ease;
}
.navbar_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border: 4px;
    background-color: #f77062;
    color: #fff;
}
.button:hover{
    background: #e82129;
    transition: all 0.3s ease;
}
.navbar_links{
    margin-left: 2rem;
    display: block;
    
}

fa-bars{
    display: block;
    color: #fff;
}

/*MEDIA QUERY*/

@media screen and (max-width:960px){
    .navbar_container{
        display: flex;
        justify-content: space-around;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar_menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        opacity: 0; 
        top: -1000px;
        transition: all 0.5s ease;
        position: absolute;
        height: 80vh;
        z-index: -1;
        background-color: #131313;
    }

    .navbar_menu.active{
        background: #131313;
        top: 100%;
        opacity: 0;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar_logo{
        padding-left: 25px;
    }

    .navabr_toggle, .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        /*background: #fff;*/
    }

    .navabar_items{
        width: 100%;
    }

    .navbar_links{
        display: table;
        text-align: center;
        padding: 2rem;
        width:100%;
    }

    #mobile_menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar_btn{
        padding-bottom: 2rem;
    }

    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 100px;
        margin: 0;
    }

    .navbar_toggle .bar{
        display: block;
        cursor: pointer;
        color: #fff;
    }

    #mobile_menu.is-active .bar:nth-child(2){
        opacity: 0;
    }

    #mobile_menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    #mobile_menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}

/*---section-*/
.bodi{
    background-color: #141414;
}
.main_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    background-color: #141414;
    height: 90vh;
    margin: 0 auto;
    z-index: 1;
    padding: 0 50px;
    width: 100%;
    max-width: 1300px;
}

.main_content h1{
    font-size: 4rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #e82129 0%, #ff44 100% ) ;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main_content h2{
    font-size: 4rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #b721ff 0%, #21d1fd 100% ) ;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main_content p{
    font-size: 2rem;
    margin-top: 1rem;
    font-weight: 700px;
}

.main_btn{
    background-color: #ff8177;
    border: 0;
    outline: 0;
    border-radius: 2px;
    height: 40px;
    padding: 12px 32px;
    
    font-size: 1rem;
    position: relative;
    transition: all 0.35s;
   
    margin-top: 1rem;
}

.main_btn a{
    z-index: 2;
    position: relative;
    text-decoration: none;
    color: #fff;
}

.main_btn:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #b721ff;
    transition: all 0.35s;
    border-radius: 4px;
}

.main_btn:hover{color: #fff;
}

.main_btn:hover:after{
    width: 100%;
}
.main_image_container{
    text-align: center;
}

#image_1{
height: 100%;
width: 100%;
}

/*---MOBILE RESPONSIVE--*/

@media screen and (max-width:768px){
    .main_container{
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        margin: 0 auto;
        height: 90vh;
    }

    .main_content{
        text-align: center;
        margin-bottom: 4rem;
    }

    .main_content h1{
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .main_content h2{
        font-size: 3rem;
    }

    .main_content p{
        font-size: 1.5rem;
        margin-top: 1rem;
    }

}

@media screen and (max-width:480px){
    .main_content h1{
        font-size: 2rem;
        margin-top: 3rem;
    }

    .main_content h2{
        font-size: 2rem;
    }

    .main_content p{
        font-size: 2rem;
        margin-top: 1rem;
    }

    .main_btn{
        padding: 12px 36px;
        margin: 2.5rem 0;
    }
}

/*-------FOOTER-----*/

.footer_container{
    background-color: gray;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer_logo{
    color: #131313;
    display: flex;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
    text-decoration: none;
}

.footer_links{
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.footer_link_wrapper{
    display: flex;
}

.footer_link_items{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
    margin: 16px;
}

.footer_link_items h2{
    margin-bottom: 16px;

}

.footer_link_items > h2{
    color: #131313;
    
}

.footer_link_items a{
    color: #131313;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

f.ooter_link_items a:hover{
    color: #e9e9e9;
    transition: 0.3s ease-out;
}

/*---SOCIAL ICONS-*/
.social_icon_link{
    font-size: 24px;
    color: #fff;
}

.social_media{
    width: 100%;
    max-width: 1000px;
}

.social_media_wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
}

.social_icons{
    align-items: center;
    width: 240px;
    display: flex;
    justify-content: space-between;
}

.social_logo{
    color: #131313;
    justify-self: flex-start;
    margin-left: 20px;
    font-size: 2rem;
    text-decoration: none;
    margin-bottom: 16px;
    display: flex;align-items: center;
}

.website_right{
    color:#141414;
}

/*--RESPONSIVE--*/
@media screen and(max-width:820px) {
    .footer_links{
        padding-top: 2rem;
    }
    #footer_logo, .website_right{
        margin-bottom: 2rem;
    }

    .footer_link_wrapper{
        flex-direction: column;
    }
}

@media screen and(max-width:480px) {
    .footer_link_items{
        padding: 10px;
        margin: 0;
        width: 100%;
    }
}












<!--------SERVICES SECTION-->
<div class="section">

</div><!------------SERVICES ENDS HERE------------>

<!--------FOOTER SECTION-->
<div class="footer_container">
    <div class="footer_links">
        <div class="footer_link_wrapper">
            <div class="footer_link_items">
                <h2>About us</h2>
                <a href="/">how it works</a>
                <a href="/">testimomial</a>
                <a href="/">Careers</a>
                <a href="/">Investment</a>
                <a href="/">Terms of services</a>
            </div>
            <div class="footer_link_items">
                <h2>Contact us</h2>
                <a href="/">how it works</a>
                <a href="/">testimomial</a>
                <a href="/">Careers</a>
                <a href="/">Investment</a>
                <a href="/">Terms of services</a>
            </div>
        </div>

        <div class="social_media">
            <div class="social_media_wrap">
                <div class="footer_logo">
                    <a href="/" id="footer_logo"><i class="fas faa-gem"></i>TCC</a>
                </div>
                <p class="website_right"> C All rifgt reserved 2022</p>
                <h2>Social links</h2>
                <a href="/">how it works</a>
                <a href="/">testimomial</a>
                <a href="/">Careers</a>
                <a href="/">Investment</a>
                <a href="/">Terms of services</a>
            </div>
            <div class="footer_link_items">
                <div class="social_icons">
                    <a href="/" class="social_icon_link">
                        <i class="fa fa-facebook-square"></i>
                    </a>
                    <a href="/" class="social_icon_link">
                        <i class="fa fa-instagram"></i>
                    </a>
                    <a href="/" class="social_icon_link">
                        <i class="fa fa-twitter-square"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <br><br><br><br>
    <h1 id="h1">welcome to this website</h1> <button type="button" class="btn btn-primary">primary button>click me and see</button>
    <!--SECTION-->
    <p id="p1">working with jquery is good.</p>
    <p id="p2">jequery is being applied here</p>
    <div class="main">
    <div class="main_container">
        <div class="main_content">
            <h1>TCC construction</h1>
            <h2>we are here to serve you better</h2><span class="fa fa-university"></span>
            <p>We are the best in construction</p>
            <button class="main_btn"><a href="">Contact us here</a></button>

        </div>
        <div class="main_image_container">
            <img src="/images/Autumn.webp" alt="" id="image_1" class="image_1">
        </div>
    </div>
</div><!------------SECTION ENDS HERE -->