*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background: #fffdf5;
    font-family: sans-serif;
}

.navbar{
    color: #000;
    background: #fff;
    height: 90px;
    width: 100%;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    z-index: 2000px;
    border:1px solid #000;
}
.navbar .logo a img{
    position: absolute;
    top: 30px;
    width: 140px;
}
.navbar .navlinks ul{
    position: absolute;
    top: 10px;
    right: 330px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 1rem 0.3rem;
    z-index: 700px;
}
.navbar .navlinks ul li{
    list-style-type: none;
    margin: 0rem 1.7rem;
}
.navbar .navlinks ul li a{
    list-style-type: none;
    text-decoration: none;
    text-align: start;
    color: #000;
    font-family: sans-serif;
    font-size: 1.2rem;
}
.navbar .navlinks .btn-danger{
    border-bottom-right-radius: 1rem;
    height: 2.7rem;
    width: 180px;
    background-color: #e7332b;
    color: #fff;
}
.navbar .navlinks .btn-danger a{
    text-decoration: none;
    font-size: 1.2rem;
    background-color: #e7332b;
    color: #fff;
    font-family: sans-serif;
}

@media screen and (max-width:890px) {
    .navbar .navlinks ul{
        visibility: hidden;
    }
}
@media screen and (max-width:500px) {
    .navbar{
        padding: 2rem 1.8rem;
    }
    .navbar .logo a img{
        width: 100px;
    }
    .navbar .navlinks .btn-danger{
        height: 2.4rem;
        width: 130px;
    }
    .navbar .navlinks .btn-danger a{
        font-size: 1rem;
    }
}

main{
    
}

/*==============section 1=========*/

.section__1{
    margin-top: 5rem;
    padding: 2rem 2.5rem;
}
.section__1 .row #col_1{
    padding-top: 8rem;
    text-align: start;
}
.section__1 .row #col_1 article h1{
    text-align: start;
    font-size: 40px;
    color: #161617;
    font-weight:700;
}
.section__1 #col_1 article span{
    color: #e7332b;
}
.section__1 #col_1 article p{
    padding: 1rem 0rem;
    text-align: justify;
    font-size: 1.2rem;
    color: #787878;
    font-weight: 400;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}
.section__1 .row #col_1 img{
    width:100px;
    height:auto;
    position:relative;
    right: 30px;
    top: -30px;
}
.section__1 .col-xl-6 img{
    width: 400px;
    height: 440px;
    float: right;
}
.section__1 #col_2 #line__1{
    width: 130px;
    height: auto;
    top: 500px;
    position: absolute;
    right: 0px;
    
}
.section__1 .col-xl-6{
    border: 1px solid green;
    margin-top: 5rem;
}
.section__1 #col_1 button{
    width: 200px;
    height: 40px;
    border-bottom-right-radius: 0.8rem;
    margin-right: 0.8rem;
    font-size: 1rem;
    color: #fff;
    background: #e7332b;
}
.section__1 #col_1 .btn-info{
    color: #fff;
    background: #585858;
    border-color: #585858;
}
@media screen and (max-width:1199px){
    
    .section__1 .col-xl-6{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 1.5rem;
        padding: 0.5rem 1rem;
        margin-top: 0rem;
    }
    .section__1 .row #col_1 article h1, p{
        text-align: center !important;
    }
    .section__1 .row #col_2 img{
        width: 100%;
        height: 100%;
        max-width: 500px;
        max-height: 500px;
    }
    .section__1 #col_1 button{
    width: 160px;
    height: 40px;
    font-size: 0.8rem;
    margin-right: 0.5rem;
    }
    .section__1 #col_2 #line__1{
        width: 250px;
        height: auto;
        top: 800px;
        position: absolute;
        right: 10px;
    
    }
    
}
@media screen and (max-width:999px){
    .section__1 #col_2 #line__1{
        visibility: hidden;
    
    }
}
@media screen and (max-width:500px){
    .section__1 #col_1 button{
        width: 110px;
        height: 30px;
        font-size: 0.6rem;
        margin-right: 0.4rem;
    }
}

/*=======================section 2==============*/

.section__2{
    background-color: #fdf3f2;
    padding: 5rem 2.5rem;
    background-image: url('https://talent.zuri.team/static/media/bgsection2.063bd869082548bafa74.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.section__2 #col_1 article h1{
    font-weight: 700;
    font-size: 39px;
    font-family: sans-serif;
    line-height: 49px;
    color: #161617;
    margin-bottom: 0.7rem;
}
.section__2 #col_1 article b{
    color: #e7332b;
}
.section__2 #col_1 article .p1{
    color: hsl(240, 2%, 9%);
    font-size: 20px;
    line-height: 22px;
    font-weight: 600;
    text-align: start;
}
.section__2 #col_1 .p2{
    columns: #787878;
    font-size: 20px;
    line-height: 22px;
    font-family: sans-serif;
    text-align: start;
}-->
.section__2 #col_1 .country__logos{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}
.section__2 #col_1 .country__logos img{
    width: 70px;
    height: 70px;
    padding: 0.6rem;
    border-radius: 0.5rem;
    margin: 0.6rem;
    background-color: #fff;
}
.section__2 #col_2 img{
    width: 350px;
    height: 350px;
    float: right;
}
@media screen and (max-width:991px){
    .section__2 .col-lg-6{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 2rem;
    }
}
