*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #fffdf5;
}
/*
.navbar{
    color: #000;
    background: #fffdf5;
    height: 90px;
    width: 100%;
    padding: 3rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    z-index: 2000px;
}
.navbar .logo a img{
    position: absolute;
    top: 25px;
    background: #fffdf5;
    color: #fffdf5;
    width: 210px;
}
.navbar .navlinks ul{
    position: absolute;
    top: 10px;
    right: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 1rem 0.3rem;
    background: #fffdf5;
    z-index: 700px;
}
.navbar .navlinks ul li{
    list-style-type: none;
    margin: 0rem 1rem;
    background: #fffdf5;
}
.navbar .navlinks ul li a{
    list-style-type: none;
    text-decoration: none;
    color: #585757;
    background: #fffdf5;
    text-align: start;
    font-size: 1.2rem;
}
.navbar .enroll .btn-danger{
    border-radius: 2rem;
    height: 2.7rem;
    width: 180px;
    background-color: #e7332b;
    color: #fff;
}
.navbar .enroll .btn-danger a{
    text-decoration: none;
    font-size: 1.2rem;
    background-color: #e7332b;
    color: #fff;
}
.navbar .enroll #hand_img{
    border-radius: 50%;
    border: 0.6rem solid #e7332b;
    position: absolute;
    top: 10px;
    width: 72px;
    background-color: #e7332b;
    right: 11rem;
    z-index: 500px;
    isolation: isolate;
}