*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background: #fffdf5;
    font-family: sans-serif;
}

.navbar{
    color: #000;
    background: #fff;
    height: 90px;
    width: 100%;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    z-index: 2000px;
}
.navbar .logo a img{
    position: absolute;
    top: 30px;
    width: 140px;
}
.navbar .navlinks ul{
    position: absolute;
    top: 10px;
    right: 330px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 1rem 0.3rem;
    z-index: 700px;
}
.navbar .navlinks ul li{
    list-style-type: none;
    margin: 0rem 1.7rem;
}
.navbar .navlinks ul li a{
    list-style-type: none;
    text-decoration: none;
    text-align: start;
    color: #000;
    font-family: sans-serif;
    font-size: 1.2rem;
    padding: 1.8rem 0.4rem 1.1rem 0.4rem;
}
.navlinks ul li a:hover{
    background-color: #f0eeee;
}
.link.active{
    border-bottom: 4px solid #e7332b !important;
}
.navbar .navlinks .tri{
    border-bottom-right-radius: 1rem;
    height: 2.7rem;
    width: 180px;
    border-width: 0rem;
    background-color: #e7332b;
    color: #fff;
    font-size: 1.2rem;
}

@media screen and (max-width:890px) {
    .navbar .navlinks ul{
        visibility: hidden;
    }
}
@media screen and (max-width:500px) {
    .navbar{
        padding: 2rem 1.8rem;
    }
    .navbar .logo a img{
        width: 100px;
    }
    .navbar .navlinks .btn-danger{
        height: 2.4rem;
        width: 130px;
    }
    .navbar .navlinks .btn-danger a{
        font-size: 1rem;
    }
}

main{
    
}

/*==============section 1=========*/

.section__1{
    margin-top: 5rem;
    padding: 2rem 2.5rem;
}
.section__1 .row #col_1{
    padding-top: 8rem;
    text-align: start;
}
.section__1 .row #col_1 article h1{
    text-align: start;
    font-size: 40px;
    color: #161617;
    font-weight:700;
}
.section__1 #col_1 article span{
    color: #e7332b;
}
.section__1 #col_1 article p{
    padding: 1rem 0rem;
    text-align: justify;
    font-size: 1.2rem;
    color: #787878;
    font-weight: 400;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}
.section__1 .row #col_1 img{
    width:100px;
    height:auto;
    position:relative;
    right: 30px;
    top: -30px;
}
.section__1 .col-xl-6 img{
    width: 400px;
    height: 440px;
    float: right;
}
.section__1 #col_2 #line__1{
    width: 130px;
    height: auto;
    top: 500px;
    position: absolute;
    right: 0px;
    
}
.section__1 .col-xl-6{
    margin-top: 5rem;
}
.section__1 #col_1 button{
    width: 200px;
    height: 40px;
    border-bottom-right-radius: 0.8rem;
    margin-right: 0.8rem;
    font-size: 1rem;
    color: #fff;
    background: #e7332b;
}
.section__1 #col_1 .btn-info{
    color: #fff;
    background: #585858;
    border-color: #585858;
}
@media screen and (max-width:1199px){
    
    .section__1 .col-xl-6{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 1.5rem;
        padding: 0.5rem 1rem;
        margin-top: 0rem;
    }
    .section__1 .row #col_1 article h1, p{
        text-align: center !important;
    }
    .section__1 .row #col_2 img{
        width: 100%;
        height: 100%;
        max-width: 500px;
        max-height: 500px;
    }
    .section__1 #col_1 button{
    width: 160px;
    height: 40px;
    font-size: 0.8rem;
    margin-right: 0.5rem;
    }
    .section__1 #col_2 #line__1{
        width: 250px;
        height: auto;
        top: 800px;
        position: absolute;
        right: 10px;
    
    }
    
}
@media screen and (max-width:999px){
    .section__1 #col_2 #line__1{
        visibility: hidden;
    
    }
}
@media screen and (max-width:500px){
    .section__1 #col_1 button{
        width: 110px;
        height: 30px;
        font-size: 0.6rem;
        margin-right: 0.4rem;
    }
}

/*=======================section 2==============*/

.section__2{
    background-color: #fdf3f2;
    padding: 5rem 2.5rem;
    background-image: url('https://talent.zuri.team/static/media/bgsection2.063bd869082548bafa74.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.section__2 #col_1 article h1{
    font-weight: 700;
    font-size: 39px;
    font-family: sans-serif;
    line-height: 49px;
    color: #161617;
    margin-bottom: 0.7rem;
}
.section__2 #col_1 article b{
    color: #e7332b;
}
.section__2 #col_1 article .p1{
    color: hsl(240, 2%, 9%);
    font-size: 20px;
    line-height: 22px;
    font-weight: 600;
    text-align: start;
}
.section__2 #col_1 .p2{
    columns: #787878;
    font-size: 20px;
    line-height: 22px;
    font-family: sans-serif;
    text-align: start;
}
.section__2 #col_1 .country__logos{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}
.section__2 #col_1 .country__logos img{
    width: 70px;
    height: 70px;
    padding: 0.6rem;
    border-radius: 0.5rem;
    margin: 0.6rem;
    background-color: #fff;
}
.section__2 #col_2 img{
    width: 350px;
    height: 350px;
    float: right;
}
@media screen and (max-width:991px){
    .section__2 .col-lg-6{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 3rem;
    }
    .section__2 #col_1 article h1{
        font-weight: 700;
        font-size: 35px;
        font-family: sans-serif;
        line-height: 40px;
        color: #161617;
        text-align: left;
        margin-bottom: 0.7rem;
    }
    .section__2 #col_1 .country__logos img{
        width: 40px;
        height: 40px;
        padding: 0.4rem;
        border-radius: 0.5rem;
        margin: 0.5rem;
    }
    .section__2 #col_2 img{
        width: 100%;
        max-width: 350px;
        max-height: auto;
        height: auto;
        float: none;
    }
    .section__2 #col_1 article .p1{
        color: hsl(240, 2%, 9%);
        font-size: 16px;
        line-height: 18px;
        font-weight: 600;
        text-align: start;
    }
    .section__2 #col_1 .p2{
        columns: #787878;
        font-size: 16px;
        line-height: 18px;
        font-family: sans-serif;
        text-align: start;
    }

}

/*===================section 3============*/
.section__3{
    padding: 5rem 2.5rem;
}
.section__3 .col-lg-6 h1{
    font-family: sans-serif;
    font-weight: 700;
    ;
    width: 100%;
    font-size: 40px;
}
.section__3 .col-lg-6{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}
.section__3 .col-lg-6 b{
    color: #e7332b;
}
@media screen and (max-width:500px){
    .section__3 .col-lg-6 h1{
        font-family: sans-serif;
        font-weight: 600;
        width: 100%;
        text-align: justify;
        font-size: 32px;
    }
}
.section__3 .careers, .work__app{
    margin: 2rem 1.5rem;
}
.section__3 .careers button{
    width: 180px;
    height: 50px;
    font-size: 16px;
    color: #787878;
    background: #fff;
    border-width: 0rem;
    margin-right: 1.2rem;
    border-radius: 0.6rem;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    box-shadow: rgba(23, 18, 18, 0.16) 0px 8px 30px 0px;
}
.section__3 .work__app button{
    width: 180px;
    height: 50px;
    font-size: 16px;
    color: #787878;
    background: #fff;
    border-width: 0rem;
    margin-right: 1.2rem;
    border-radius: 0.6rem;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    box-shadow: rgba(23, 18, 18, 0.16) 0px 8px 30px 0px;
}
.section__3 .careers button:hover, .work__app button:hover{
    transform: translateY(-30px);
    transition: all 1s ease;
}
.section__3 .row h2{
    font-weight: 700;
    font-size: 35px;
    font-family: sans-serif;
    color: #161617;
    padding: 1rem 0.8rem;
}
@media screen and (max-width:768px){
    .section__3 .careers, .work__app{
        padding: 2rem 0rem;
        padding-left: 2rem;
    
    }
    .section__3 .careers button{
        width: 140px;
        height: 50px;
        font-size: 12px;
        margin-right: 1rem;
        border-radius: 0.6rem;
        margin-bottom: 0.5rem;
    }
    .section__3 .work__app button{
        width: 140px;
        height: 50px;
        font-size: 12px;
        margin-right: 0.8rem;
        border-radius: 0.6rem;
        margin-bottom: 0.5rem;
    }
}

@media screen and (max-width:470px) {
     .section__3 .careers, .work__app{
        padding: 2rem 0rem;
        padding-left: 1.1rem;
    }
    .section__3 .careers button{
        width: 90px;
        height: 50px;
        font-size: 12px;
        margin-right: 0.8rem;
        border-radius: 0.6rem;
        margin-bottom: 0.5rem;
    }
}

@media screen and (max-width:415px){
    .section__3 .work__app button{
        width: 90px;
        height: 50px;
        font-size: 12px;
        margin-right: 0.8rem;
        border-radius: 0.6rem;
        margin-bottom: 0.5rem;
    }
}


/*===============section 4===========*/
.section__4{
    padding: 0rem 2.5rem;
    padding-bottom: 4rem;
    background-color: #fff8e5;
}
.section__4 .row h1{
    font-weight: 700;
    font-size: 39px;
    font-family: sans-serif;
    line-height: 49px;
    text-align: center;
    color: #161617;
    padding: 6rem 0rem;
}

.section__4 .row b{
    color: #e7332b;
}
.section__4 .card{
    border-width: 0rem;
    padding: 1.2rem;
    height: 100%;
    border-bottom-right-radius: 1.5rem;
}
.section__4 .card:hover{
    background: #000;
    color: #fff;
}
.section__4 .col-md-4{
    padding-bottom: 1rem;
}
.section__4 .card .card-body article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #787878;
    font-size: 1.1rem;
    font-family: sans-serif;
}

.section__4 .card-body article img{
    padding-bottom: 0.5rem;
}

.section__4 #row_3{
    padding:  2rem 8rem;
}
.section__4 .col-md-6{
    padding-bottom: 1rem;
}
.section__4 #row_3 #row_3_img{
    width: 400px;
    height: auto;
    position: absolute;
    left: 0px;
    top: px !important; 
}

.section__4 #row_4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.section__4 #row_4 .buttonz button{
    width: 200px;
    height: 40px;
    border-bottom-right-radius: 0.8rem;
    margin-right: 0.8rem;
    font-size: 1rem;
    color: #fff;
    margin-bottom: 1rem;
    background: #e7332b;
}
.section__4 #row_4 .buttonz .btn-info{
    color: #fff;
    background: #585858;
    border-color: #585858;
}
@media screen and (max-width:900px) {
    .section__4 #row_3 #row_3_img{
        width: 220px;
        height: auto;
        position: absolute;
        left: -10px;
    }
}

@media screen and (max-width:767px){
    .section__4 .row h1{
        font-weight: 600;
        font-size: 34px;
        
    }
    .section__4 #row_3{
        padding:  2rem 0rem;
    }
    .section__4 #row_3 #row_3_img{
        width: 200px;
        height: auto;
        position: absolute;
        left: -5px;
    }
}
@media screen and (max-width:535px){
    .section__4 #row_4 .buttonz{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .section__4 #row_4 .buttonz button{
        width: 140px;
        height: 30px;
        border-bottom-right-radius: 0.8rem;
        margin-right: 0.6rem;
        font-size: 0.8rem;
        margin-bottom: 1rem;
    }
}


/*====================modal=========================*/
.mod{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #d6caca;
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s, transform 0.25s;
}
.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rm;
}
.close{
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}

.close:hover{
    background-color: darkgray;
}

.show-mod{
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}


/*=========================footer===================*/
.footer__head{
    height: 14.5rem;
    background: #161617;
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
}
.footer__head .row #footer__1{
    display: flex;
    flex-direction: row;
    justify-content:;
    align-items: center;
    text-align: center;
}

.footer__head  #footer_row{
    margin-bottom: -1rem !important;
}

.footer__head #footer__2{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#footer__2 ul li{
    display: inline;
    padding: 0rem 0.3rem;
    text-align: justify;
}
#footer__2 ul li a{
    font-size: 2rem;
    color: #787878
}
#footer_bottom_row #footer_bottom_col_1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 0.9rem;
    color: #cdc2c2;
    font-weight: 700;
    font-family: Poppins;
}
#footer_bottom_row #footer_bottom_col_2{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 0.9rem;
    color: #cdc2c2;
    font-weight: 700;
    font-family: Poppins;
}

.footer__head .scroll-top{
    padding: 0.3rem;
}

@media screen and (min-width:601px) {
    .footer__wrapper{
        display: none;
    }
}

@media screen and (max-width:600px){
    .footer__head #footer_row, #footer_bottom_row{
        display: none;
    }
    .footer__head{
        height: 350px;
        padding-left: 1.1rem;
        padding-right: 1.1rem;
        padding-top: 2rem;
        padding-bottom: 0.7rem;
    }
    
    .footer__head .footer__wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #cdc2c2;
        font-size: 1rem;
        font-weight: 700;
    }
    .footer__head .footer__wrapper #wrap__2 ul{
        margin-right: 1.8rem;  
        padding-top: 1rem;  
    }
    .footer__head .footer__wrapper #wrap__2 ul li{
        padding: 0.5rem;    
        display: inline;
        list-style: none;
    }
    .footer__head .footer__wrapper #wrap__2 ul li a{
        color: #787878;
        font-size: 2rem;
    }
    .footer__wrapper #hr3{
        font-size: 2rem;
        width:100%;
        color: #cdc2c2;
    }
    
}